In [2]:
import sqlite3

conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('''
CREATE TABLE IF NOT EXISTS Books (
    Title TEXT,
    Author TEXT,
    Year_Published INTEGER,
    Genre TEXT
)
''')

conn.commit()

In [3]:
books = [
    ('To Kill a Mockingbird', 'Harper Lee', 1960, 'Fiction'),
    ('1984', 'George Orwell', 1949, 'Dystopian'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 1925, 'Classic')
]

cursor.executemany('INSERT INTO Books VALUES (?, ?, ?, ?)', books)

conn.commit()

In [4]:
cursor.execute('''
UPDATE Books
SET Year_Published = 1950
WHERE Title = '1984'
''')

conn.commit()

In [5]:
cursor.execute('''
SELECT Title, Author
FROM Books
WHERE Genre = 'Dystopian'
''')

dystopian_books = cursor.fetchall()
for book in dystopian_books:
    print(f'Title: {book[0]}, Author: {book[1]}')

Title: 1984, Author: George Orwell

In [6]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('''
DELETE FROM Books
WHERE Year_Published < 1950
''')

conn.commit()

In [7]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('ALTER TABLE Books ADD COLUMN Rating REAL')

conn.commit()

In [8]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

ratings = [
      (4.8, 'To Kill a Mockingbird'),
      (4.7, '1984'),
      (4.5, 'The Great Gatsby')
  ]

cursor.executemany('''
  UPDATE Books
  SET Rating = ?
  WHERE Title = ?
  ''', ratings)

conn.commit()
conn.close()

In [9]:
conn = sqlite3.connect('library.db')
cursor = conn.cursor()

cursor.execute('''
  SELECT Title, Author, Year_Published, Genre, Rating
  FROM Books
  ORDER BY Year_Published ASC
  ''')

sorted_books = cursor.fetchall()
for book in sorted_books:
      print(f'Title: {book[0]}, Author: {book[1]}, Year Published: {book[2]}, Genre: {book[3]}, Rating: {book[4]}')

conn.close()

Title: 1984, Author: George Orwell, Year Published: 1950, Genre: Dystopian, Rating: 4.7
Title: To Kill a Mockingbird, Author: Harper Lee, Year Published: 1960, Genre: Fiction, Rating: 4.8