In [1]:
import sqlite3

In [2]:
with sqlite3.connect('roster.db') as con:
    cursor = con.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS Roster (
            Name TEXT,
            Species TEXT,
            Age INTEGER
        )
    ''')
    
    con.commit()

In [5]:
con.executemany('INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)', 
                [('Benjamin Sisko', 'Human', 40),
                 ('Jadzia Dax', 'Trill', 300),
                 ('Kira Nerys', 'Bajoran', 29)])
con.commit()

In [6]:
cursor.execute('UPDATE Roster SET Name = ? WHERE Name = ?', ('Ezri Dax', 'Jadzia Dax'))
con.commit()

In [7]:
cursor.execute('SELECT Name, Age FROM Roster WHERE Species = ?', ('Bajoran',))
results = cursor.fetchall()

for row in results:
    print(f"Name: {row[0]}, Age: {row[1]}")

Name: Kira Nerys, Age: 29
Name: Kira Nerys, Age: 29

In [8]:
cursor.execute('DELETE FROM Roster WHERE Age > ?', (100,))
con.commit()

In [9]:
cursor.execute('ALTER TABLE Roster ADD COLUMN Rank TEXT')
con.commit()

cursor.executemany('UPDATE Roster SET Rank = ? WHERE Name = ?', 
                   [('Captain', 'Benjamin Sisko'),
                    ('Lieutenant', 'Ezri Dax'),
                    ('Major', 'Kira Nerys')])
con.commit()

cursor.execute('SELECT Name, Species, Age, Rank FROM Roster ORDER BY Age DESC')
sorted_results = cursor.fetchall()

for character in sorted_results:
    print(f"Name: {character[0]}, Species: {character[1]}, Age: {character[2]}, Rank: {character[3]}")

Name: Benjamin Sisko, Species: Human, Age: 40, Rank: Captain
Name: Benjamin Sisko, Species: Human, Age: 40, Rank: Captain
Name: Kira Nerys, Species: Bajoran, Age: 29, Rank: Major
Name: Kira Nerys, Species: Bajoran, Age: 29, Rank: Major