In [2]:
#1

list = [None,1,2,3,None,4,None,None]

for i in range(len(list)-1):
    if list[i] != None and list[i+1] == None:
        list[i+1] = list[i]

print(list)

[None, 1, 2, 3, 3, 4, 4, 4]

In [43]:
class Date:
    month_names = [
        "", "January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"
    ]

    def __init__(self, month, day, year):
        if not (1 <= month <= 12):
            raise ValueError(f'Invalid month: {month}. Must be between 1 and 12.')
        if not (1 <= day <= 31):  # Basic validation
            raise ValueError(f'Invalid day: {day}. Must be between 1 and 31.')
        self.month = month
        self.day = day
        self.year = year

    def print_format1(self):
        print(f'{self.month}/{self.day}/{self.year}') 

    def print_format2(self):
        print(f'{self.month_names[self.month]} {self.day}, {self.year}') 

    def print_format3(self):
        print(f'{self.day} {self.month_names[self.month]} {self.year}')  


def main():
    month = 12
    day = 4
    year = 2025

    date = Date(month, day, year)
    date.print_format1()
    date.print_format2()
    date.print_format3()

if __name__ == '__main__':
    main()

12/4/2025
December 4, 2025
4 December 2025

In [ ]:
import pandas as pd 

df = pd.read_csv('TestMax.csv')

df["MaxValue"] = df[['Max1','Max2',"Max3"]].max(axis=1)

df[['Year1',"MaxValue"]]

   Year1  MaxValue
0   2001       101
1   2003       103
2   2003        89
3   2004        91

In [44]:
import numpy as np


np.random.randint(0,10,(3,3))

array([[6, 0, 1],
       [3, 5, 5],
       [6, 6, 6]], dtype=int32)

In [31]:
import numpy as np

random_nums = np.random.randint(1,10)

mean = np.mean(random_nums)
median = np.median(random_nums)
st_dev = np.std(random_nums)

print("Mean: ", mean,"Median: ", median,"St dev: ",st_dev)

Mean:  9.0 Median:  9.0 St dev:  0.0